.outer-wrapper{
    display: flex;
    width: 100%;
    height:90vh;
    justify-content: center;
    align-items: center;
    position:relative;
    margin-top:-7rem;
    z-index: 2;
}

.wrapper{
    display:flex;
    flex-direction: column;
    width:70vw;
    height:60vh;
    box-shadow: 0px 0px 10px 0 rgb(0 0 0 / 0.2);
    background-color: #ffffff;
    position: relative;
    z-index: 0;
}

.wrapper h1,
.wrapper a{
    margin: 0 auto;
    padding: .5em 0em;
}

.wrapper h1{
    font-size: 40px;
}

.wrapper a{
    font-weight: 700;
    color:blue;
    text-decoration: underline;
    font-size:18px;
    margin-top:2em;
}

.content-wrapper{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2em 5em;
    
}

.content-wrapper > div{
    width: 20%;
    height:80%;
    padding:0em 3em;
}

.decorations div{
    position: absolute;
    z-index: -1;
}

.circle-1{
    border:1px solid rgb(255,163,88);
    width: 10rem;
    height:10rem;
    border-radius: 50%;
    top:4em;
    left:12em;
}

.dbean{
    border:1px solid rgb(168,137,238);
    width: 2.2rem;
    height: 5rem;
    top:2em;
    left:23em;
    transform: rotate(-35deg);
    border-radius: 5rem;
}

.halfCircle{
    border:10px solid rgb(248,1,136);
    border-bottom:10px solid rgb(248,1,136);
    width: .5em;
    height: .5em;
    border-radius: 50%;
    top:1em;
    left:27em;
    transform: rotate(4.5deg);
}

.half-circle::after{
    content: '';
    position: absolute;
    background:#ffffff;
    width: 4em;
    height: 2em;
    left:-1.5em;
    bottom:.2em;
    transform: rotate(50deg);
}

.half-circle::before{
    content:'';
    position: absolute;
    width: .8em;
    height:.8em;
    background-color: #ffffff;
    border-radius: 50%;
    top:-.5em;
    left:-.3em;
}